{
    "presets": [
        [
        "@babel/preset-env",
        {
        "targets": {
            "browsers": [
                "chrome >= 50"
            ]
        }, //指定浏览器版本号
        "useBuiltIns":"usage"
        }
        ],
        "@babel/preset-react"
    ],
     "plugins": ["@babel/plugin-syntax-dynamic-import","@babel/plugin-proposal-class-properties"]
}