.container{
  width: 600px;
  margin: 0 auto;
  .home{
  color: #333;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
  }
.logo{
  text-align: center;
  img{
    width: 500px;
    object-fit: fill;
  }
}
.tip{
  margin: 20px 0;
  .tips{
  font-size: 18px;
  text-align: center;
  }
}

}
